/* Main Styles */

body {
  background-color: #003842;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  color: white;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 75px;
}

/* Adds a red border to any element */

.boxy {
  border: solid 5px red;
}

/* Containers */

.container1 {
  display: flex;
  justify-content: space-between;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.container {
  display: grid;
  grid-template-rows: 0.5fr 2fr;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grid-container > div {
  text-align: center;
  font-size: 20px;
}

/* Greeting */

.greeting {
  margin: auto;
  text-align: center;
}

/* Clock */

.clock {
  display: flex;
  align-items: center;
}

/* Date and Time */

.date-time {
  display: flex;
  align-items: center;
}

/* Coordinates Button */

.location {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  outline: none;
}

.my-coordinates {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

/* To Do List */

.todo-list {
  background-color: black;
  opacity: 0.75;
  border-radius: 15px;
  height: fit-content;
  min-height: 244px;
  min-width: 231px;
}

.item,
button {
  margin: auto;
  list-style: none;
}

#list_section {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  background-color: #fff;
  color: #000;
  font-size: 15px;
  list-style-type: none;
  width: 60%;
  margin: 0px auto;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 5px;
  margin-bottom: 5px;
}

.item {
  background-color: #fff;
  color: #000;
}

input[type="text"] {
  font-size: 12px;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  border: none;
  padding: 5px;
}

#newItemButton {
  display: none;
}

#itemField {
  margin-top: 60px;
  width: 20%;
}

/* Stress Game */

.stressGame {
  background-color: black;
  opacity: 0.75;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 244px;
  min-width: 231px;
}

.containerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  text-align: center;
}

i {
  cursor: grabbing;
}

.hiddenText {
  display: none;
}

/* Media Queries */

@media (max-width: 500px) {
  .clock {
    display: none;
  }

  .date-time {
    margin: 0 auto;
  }
}

@media (max-width: 830px) {
  .todo-list,
  .stressGame {
    display: none;
  }
}

/* Medium and up (Tablets) */
@media (max-width: 768px) {
}
