body {
    display: grid;

    grid-template-columns: 70% 30%;
    /* grid-template-rows: 70% 30%; */
}

img {
    width: 90%;
}
.item-1 {
    grid-area: head;
  }
  .item-2 {
    grid-area: main;
  }
  .item-3 {
    grid-area: side;
  }
  .item-4 {
    grid-area: footer;
  }

  /* Media Queries */

  /* Small and up (Landscape Phones) */
@media (min-width: 576px) {
    body {
        background-color: green;
    }
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
    body {
        background-color: orange;
    }
}

  /* Large and up (Desktops) */
@media (min-width: 992px) {
    body {
        background-color: blue;
    }
}