

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    float: left;
    margin-right:15px;
  }

  .top-news {
      padding-left: 5rem;
      
  }

  /* Media Queries */

  /* Small and up (Landscape Phones) */
@media (min-width: 576px) {
    body {
        background-color: green;
    }
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
    body {
        background-color: orange;
    }
}

  /* Large and up (Desktops) */
@media (min-width: 992px) {
    body {
        background-color: blue;
    }
}