body {
    margin: 25px;
    display: grid;

    grid-template-columns: 70% 30%;

    font-family: 'Raleway', sans-serif;
}

img {
    width: 90%;
}

button {
    background-color: rgb(2, 73, 73);
    color: white;
    height: 25px;
    width: 100px;
    border: transparent;
}

.grid-item-2 {
    margin-right: auto;
}

.grid-item-3 {
    width: 92%;
}

  /* Media Queries */

  /* Small and up (Landscape Phones) */

@media (max-width: 830px) {
    body {
        display: block;
    }

    .grid-item-2 {
        display: none;
        grid-template-columns: 100%;
    }
}
  
@media (min-width: 576px) {
    body {
        background-color: green;
    }
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
    body {
        background-color: orange;
    }
}

  /* Large and up (Desktops) */
@media (min-width: 992px) {
    body {
        background-color: blue;
    }
}