body {
  background-color: #003842;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 75px;
}

.item1 {
  grid-area: header;
  margin: auto;
}
.item2 {
  grid-area: todo;
  background-color: black;
  opacity: 0.75;
  height: 280px;
  border-radius: 15px;
}
.item3 {
  grid-area: clock;
}
.item4 {
  grid-area: calculator;
  background-color: black;
  opacity: 0.75;
  height: 280px;
  border-radius: 15px;
}
.item5 {
  grid-area: date;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "clock ... header header ... date"
    "calculator ... ...   ...   ...  todo"
    "... ... ...   ...   ...  ...";
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
  margin: auto;
}

.grid-container > div {
  /* border: solid red; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 75px 0;
  font-size: 20px;
}

#checkboxes {
  /* border: solid red; */
  margin: auto 10%;
}

#checkboxes ul {
  margin: auto;
  list-style: none;
}

ul {
  /* border: solid red; */
  padding-left: 0;
}

/* Calculator */

#root {
  margin: auto;
  /* padding: 5px; */
  background-color: gray;
  width: 200px;
  height: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.1px;
  grid-template-areas:
    "display display display display"
    "cdisplay cdisplay cdisplay cdisplay"
    "clear clear divide multiply"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";
}

#display {
  grid-area: display;
}
#cdisplay {
  grid-area: cdisplay;
}
#clear {
  grid-area: clear;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}

/* Media Queries */

@media (max-width: 576px) {
  .item3, .quote, .item4 {
    display: none;
  }

  .grid-container {
    grid-template-areas:
    "... ... header header ... ..."
    "... ... date date ... ..."
    "... ... todo todo ... ...";
  }
}

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}