body {
  background-color: #003842;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: left;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main ...   ...   ...  menu"
    "left left ...   ...   ...  menu"
    "left left ...   ...   ...  menu";
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
  margin: auto;
}

.grid-container > div {
  border: solid red;
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 75px 0;
  font-size: 20px;
}

#checkboxes {
    border: solid red;
    margin: auto 10%;
    text-align: left;
}

#checkboxes ul {
    margin: 0;
    list-style: none;
  }

ul {
    border: solid red;
    text-align: left;
}

