body {
    background-color: #003842;
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
      font-size: 75px;
  }
  
  .item1 {
    grid-area: header;
  }
  .item2 {
    grid-area: todo;
    background-color: black;
    opacity: 0.75;
    margin-bottom: 50%;
    border-radius: 15px;
  }
  .item3 {
    grid-area: clock;
  }
  .item4 {
    grid-area: calculator;
    background-color: black;
    opacity: 0.75;
    margin-bottom: 50%;
    border-radius: 15px;
  }
  .item5 {
      grid-area: date;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      "clock ... header header ... date"
      "calculator ... ...   ...   ...  todo"
      "... ... ...   ...   ...  ...";
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    margin: auto;
  }
  
  .grid-container > div {
    /* border: solid red; */
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 75px 0;
    font-size: 20px;
  }
  
  #checkboxes {
      /* border: solid red; */
      margin: auto 10%;
      text-align: left;
      /* background-color: blue;
      opacity: 0.5; */
  }
  
  #checkboxes ul {
      margin: 0;
      list-style: none;
    }
  
  ul {
      /* border: solid red; */
      text-align: left;
      padding-left: 0;
  }