body {
  background-image: url(nasa_earth.jpg);
  background-size: auto 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu menu ...   ...   main main"
    "menu menu ...   ...  right right"
    "menu menu ...   ...  right right";
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
  margin: auto;
}

.grid-container > div {
  border: solid red;
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 75px 0;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form {
    margin: 0 auto;
}
