/* Body */

body {
  background-color: #003842;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  color: white;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 75px;
}

/* Grid Items */

.item1 {
  grid-area: header;
  margin: auto;
}
.item2 {
  grid-area: todo;
  background-color: black;
  opacity: 0.75;
  height: 220px;
  border-radius: 15px;
}
.item3 {
  grid-area: clock;
}
.item4 {
  grid-area: calculator;
  background-color: black;
  opacity: 0.75;
  height: 220px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item5 {
  grid-area: date;
  margin-top: 35px;
}

/* Grid Container */

.grid-container {
  display: grid;
  grid-template-areas:
    "clock ... header header ... date"
    "calculator ... ...   ...   ...  todo"
    "... ... ...   ...   ...  ...";
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
  margin: auto;
}

.grid-container > div {
  /* border: solid red; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 50px 0;
  font-size: 20px;
}

/* To Do List */

#checkboxes {
  /* border: solid red; */
  margin: auto 10%;
}

#checkboxes ul {
  margin: auto;
  list-style: none;
}

ul {
  /* border: solid red; */
  padding-left: 0;
}

/* Media Queries */

@media (max-width: 576px) {
  .item3,
  .quote,
  .item4,
  .item5 {
    display: none;
  }

  .grid-container {
    grid-template-areas:
      "... ... header header ... ..."
      "... ... todo todo ... ...";
  }
}

/* Medium and up (Tablets) */
@media (max-width: 768px) {
  .item3,
  .item4,
  .item5 {
    display: none;
  }

  .grid-container {
    grid-template-areas:
      "... ... header header ... ..."
      "... ... todo todo ... ...";
  }
}
