body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.headshot {
  border: solid 1px black;
}

p {
  text-align: center;
}

/* Border around grid items */

.boxy {
  border: solid 5px red;
}

/* Media Queries */

/* @media (max-width: 415px) {
    nav div {
        display: flex;
        flex-shrink: 1;
    }
} */

/* Small and up (Landscape Phones) */
@media (min-width: 100px) {
  /* Grid Items */

  .header {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }

  .hero-image {
    max-width: 100%;
    height: auto;
    margin: 0;
    position: relative;
  }

  .options {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .options div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer {
    grid-area: footer;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem;
    background-color: rgb(19, 24, 17);
    color: white;
  }

  /* Button */

  .hero-image .btn {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(19, 24, 17);
    color: white;
    font-size: 17px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .hero-image .btn:hover {
    background-color: white;
    color: rgb(19, 24, 17);
  }

  /* Navigation Bar */

  nav {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 1;
  }

  nav div {
    margin: 1rem;
    padding: 5px;
    border-radius: 5px;
  }

  nav div:hover {
    background-color: rgb(19, 24, 17);
    color: white;
    cursor: pointer;
  }

  /* Footer */

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social div {
    border: solid 2px white;
    padding: 7px;
    margin: 15px;
  }

  .icon:hover {
    background-color: white;
    cursor: pointer;
  }
}

/* Medium and up (Tablets) */
@media (min-width: 600px) {
  .options {
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
  }

  .options div {
    padding: 10px;
  }

  /* Footer */

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
