/* Use this class to add a red border */
.boxy {
    border: solid 5px red;
  }

/* Media Queries */

@media (min-width: 100px) {
    body {
        margin: auto 15%;
        font-family: raleway;
    }

    img {
        border-radius: 50%;
        border: solid 2px lightgrey;
      }
}

@media (min-width: 600px) {
    body {
        margin: auto 5%;
        display: grid;
        grid-template-columns: 2f 1fr;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .item1, .item2 {
        padding: 1%;
    }

    .item2 {
        margin-left: 5%;
        width: 50%;
    }
}