.boxy {
  border: solid 5px red;
}

/* Media Queries */

@media (max-width: 335px) {
    .nav {
        display: none;
    }
}

@media (min-width: 100px) {
  body {
    margin: auto;
    color: white;
    font-family: raleway;
  }

  header {
    background-color: #3c99d1;
  }

  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin: 3% 10%;
    background-color: #0795c3;
    border-radius: 25px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-top: 20%;
  }

  nav a {
    margin: auto 5px;
    text-decoration: none;
    color: white;
  }

  nav a:hover {
    border-bottom: solid 5px white;
  }

  .intro {
    text-align: center;
    margin: 10%;
  }

  .intro h4 {
    padding: auto 10px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .item {
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 580px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  nav a {
    margin: auto 15px;
  }
}

@media (min-width: 1040px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav a {
    margin: auto 20px;
  }
}
