/* Base Styles */
body {
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #3c99d1;
  color: white;
  padding-bottom: 1px;
}

main {
  background-color: #f9f9f9;
}

/* Animation */

@keyframes myAnimation{
  0%{
    opacity: 1;
    transform: rotateX(90deg);
  }
  50%{
    opacity: 0.5;
    transform: rotateX(0deg);
  }
  100%{
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}

#myelement{
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/* Use this class to add a red border */
.boxy {
  border: solid 5px red;
}

/* Media Queries */

/* This makes the nav bar disappear */
@media (max-width: 335px) {
  .nav {
    display: none;
  }
}

/* Mobile View */
@media (min-width: 100px) {
  /* Header */
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin: 3% 10%;
    border-radius: 25px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-top: 20%;
  }

  nav a {
    margin: auto 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
  }

  nav a:hover {
    border-bottom: solid 2px white;
  }

  .intro {
    text-align: center;
    margin: 10%;
  }

  .intro h4 {
    padding: auto 10px;
  }

  /* Main */
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .item {
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-iframe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10% auto;
  }

  .video-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto 5%;
  }

  video {
    width: 360px;
    height: 320px;
    margin-bottom: 20px;
  }

  .iframe-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto 5%;
  }

  iframe {
    width: 370px;
    height: 295px;
    margin-top: 20px;
  }

  .footer {
    background-color: #3c99d1;
  }

  .form {
    min-height: 200px;
    max-width: 500px;
    margin: auto;
    padding: 5%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  h2,
  label {
    color: white;
  }

  input,
  fieldset {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: white;
  }

  fieldset {
    height: 100px;
  }

  button {
    width: 7rem;
    height: 2.5rem;
    color: #3c99d1;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .btn-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

/* Tablet View */
@media (min-width: 580px) {
  /* Header */
  nav a {
    margin: auto 15px;
  }

  /* Main */
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .video-iframe {
    margin: 5% auto;
  }
}

/* Desktop View */
@media (min-width: 1040px) {
  /* Header */
  nav a {
    margin: auto 20px;
  }

  /* Main */
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .video-iframe {
    display: flex;
    flex-direction: row;
  }
}
