body {
  margin: auto;
  background-color: #3c99d1;
  font-family: 'Raleway', sans-serif;
}

/* Use this class to add a red border */
.boxy {
  border: solid 5px red;
}

/* Header */
header {
  background-color: #3c99d1;
  padding: 10px 20px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 3% 10%;
  border-radius: 25px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 20%;
}

nav a {
  margin: auto 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: solid 2px white;
}

/* Main */
main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5%;
  margin: auto 15%;
}

.about-blog {
  background-color: white;
  margin: 25px auto;
  padding: 10px 10px;
  height: 100%;
  max-height: fit-content;
  border-radius: 5px;
}

.profile-pic {
  border-radius: 50%;
  border: solid 1px lightgray;
  display: block;
  margin: 5% auto;
}

hr {
  width: 55%;
  margin-left: 0;
  border-color: #8EC8EB;
}

.blog-posts {
  margin: 25px auto;
}

article {
  background-color: white;
  margin-bottom: 10px;
  width: 100%;
  padding: 2px 10px;
  border-radius: 5px;
}

article a {
  text-decoration: none;
  color: #3c99d1;
}

.title:hover {
  color: #07669F;
}

.title {
  font-size: 22px;
  padding: 5px auto;
}

.subtitle {
  font-size: 16px;
  padding: 5px auto;
}

h2,
p {
  margin: 5px;
  font-weight: normal;
}

h3 {
  margin: 15px 5px;
  font-weight: normal;
}
