body {
    font-size: 22px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12% auto;
}

i {
    cursor: grabbing;
}

.jsButton {
    font-size: 15px;
    height: 40px;
    width: 130px;
    background-color: blue;
    color: white;
    box-shadow: 3px 4px #888888;
    border-radius: 4px;
    outline: none;
}

.hiddenText {
    display: none;
    padding: 20px;
}